body{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcHcrTEsmGhPEGL6nTdm9Lq4bN6mLzUWtcj6mGuLXuzb7z5aqkAxuzkYbLD7LMyXh9ato&usqp=CAU);
  background-repeat: no-repeat;
  background-size: cover;
}